/*.button-item {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.heading {
  color: #d4d2db;
  font-weight: 500;
  font-family: 'Roboto';
}
.rupees {
  color: #585076;
  font-family: 'Roboto';
  font-weight: 700;
}*/
.button {
  background-color: #585076;
  height: 35px;
  width: 75px;
  border-width: 0px;
  border-radius: 5px;
  margin: 5px;
  color: white;
}

/* Write your CSS here */
/* Write your CSS here */
.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.card-container {
  background-color: #150b3e;
  border-radius: 16px;
  width: 90%;
  padding: 24px;
  margin-top: 48px;
  margin-bottom: 48px;
  max-width: 1110px;
}
.profile-container {
  display: flex;
  padding: 20px;
}
.image {
  border-radius: 100px;
  width: 50px;
}
.name {
  margin-left: 50px;
  font-size: 19px;
  color: #d4d2db;
  font-weight: 500;
  font-family: 'Roboto';
}
.balance-container {
  padding-left: 20px;
  display: flex;
}
.balance {
  color: #585076;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 25px;
  padding-top: 10px;
}
.amount {
  color: white;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 32px;
  margin-left: 750px;
  font-weight: bold;
}
.your-balance {
  color: #585076;
  font-weight: 500;
  font-family: 'Roboto';
  margin-left: 920px;
}
.withdraw-container {
  padding-left: 20px;
}
.heading {
  color: #d4d2db;
  font-weight: 500;
  font-family: 'Roboto';
}
.rupees {
  color: #585076;
  font-family: 'Roboto';
  font-weight: 700;
}
.list-container {
  display: flex;
  flex-wrap: wrap;
}
